@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
/* ROOT */
:root {
  --white: white;

  --lightmode-lighttext: #475569;
  --lightmode-medtext: #1e293b;
  --lightmode-darktext: #334155;
  --lighmode-ultralighttext: #94A3B8;

  --fix-green: #10b981;
  --fix-red: #ff5724;
  --fix-orange: #ff9800;
  --fix-darkblue: #4f46e5;
  --fix-lightblue: #0ea5e9;
  --fix-bgblue: #F1F5F9;

  --darkmode-lighttext: #c2c9d6;
  --darkmode-darktext: #a3adc2;

  --transition02: all 0.2s linear;
  --transition03: all 0.3s linear;
  --transition05: all 0.5s linear;

  --border1: 1px solid #e5e7eb;

  --gutter-width: 12px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Inter", sans-serif;
}
.container {
  max-width: 1320px;
  margin: 0 auto;
}
html {
  font-size: 10px;
  scroll-behavior: smooth;
}
section {
  padding: 60px 0;
}
.btn {
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  font-size: 18px;
  padding: 13px 40px;
}
.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
  padding: 0 var(--gutter-width);
}
/* LEFT BAR STARTS HERE */
.left-bar {
  position: fixed;
  left: 0;
  z-index: 11;
  width: 8rem;
  height: 100%;
  border-right: var(--border1);
  background-color: var(--white);
  transition: var(--transition02);
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: var(--lightmode-darktext) var(--white);
}
.left-bar::-webkit-scrollbar {
  display: none;
}
.main-logo {
  margin-bottom: 2rem;
}
.main-logo img {
  height: 4.5rem;
  width: 4.5rem;
  transition: var(--transition03);
  margin-top: 1.5rem;
  cursor: pointer;
}
.main-logo img:hover {
  transform: rotate(360deg);
}
.left-bar ul li svg {
  margin: auto;
  display: block;
  height: 3.2rem;
  width: 3.2rem;
  color: var(--lightmode-lighttext);
  cursor: pointer;
  transition: var(--transition03);
}
.left-bar ul li {
  margin: 1.5rem 0;
  padding: 0.7rem 0.3rem;
  border-radius: 1rem;
  transition: var(--transition02);
}
.left-bar ul li:hover {
  background-color: #4F46E51A;
}
.left-bar ul li:hover svg {
  color: var(--fix-darkblue);
}
.rounded-full {
  border-radius: 50%;
  width: 4.5rem;
  margin: 1rem 0;
  cursor: pointer;
}
.profile-avatar .dot {
  font-size: 0.9rem;
  position: absolute;
  top: 0.2rem;
  right: 0rem;
  color: var(--fix-green);
  border-radius: 50%;
  border: 0.15rem solid white;
}
.profile-setting {
  left: 7rem;
  position: fixed;
  bottom: 1rem;
  width: 26rem;
  border: var(--border1);
  background-color: var(--white);
  border-radius: 1rem;
  display: none;
}
.profile-setting .title {
  padding: 1.2rem 2rem;
  border-radius: 1rem;
  background-color: var(--fix-bgblue);
  margin-bottom: 1rem;
  cursor: pointer;
}
.profile-setting .title img {
  width: 5.6rem;
  border-radius: 50%;
  margin-right: 2rem;
}
.profile-setting .title span {
  font-size: 1.7rem;
  color: var(--lightmode-darktext);
}
.profile-setting .title span p {
  font-size: 1.2rem;
  color: var(--lightmode-darktext);
  padding-top: 0.3rem;
}
.profile-setting .desc {
  display: flex;
  align-items: center;
  padding: 0.9rem 1.5rem;
  cursor: pointer;
}
.profile-setting .desc:hover {
  background-color: var(--fix-bgblue);
}
.profile-setting .desc i {
  padding: 1rem;
  border-radius: 0.8rem;
  font-size: 1.6rem;
  color: var(--white);
  background-color: var(--fix-orange);
  margin-right: 1.8rem;
  margin-left: 1rem;
}
.profile-setting .desc span {
  font-size: 1.4rem;
  color: var(--lightmode-darktext);
}
.profile-setting .desc span p {
  font-size: 1.3rem;
  padding-top: 0.3rem;
  color: var(--lighmode-ultralighttext);
}
.profile-setting .login-btn {
  padding: 1.2rem 0;
}
.login-button {
  width: 90%;
  margin: 0 auto;
  padding: 10px;
  text-align: center;
  background-color: var(--fix-darkblue);
  color: var(--white);
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}
.login-button i {
  padding-right: 1rem;
}
.desc:nth-child(3) > i {
  background-color: var(--fix-lightblue);
}
.desc:nth-child(4) > i {
  background-color: #F000B9;
}
.desc:nth-child(5) > i {
  background-color: var(--fix-orange);
}
.desc:nth-child(6) > i {
  background-color: var(--fix-green);
}
/* LEFT BAR ENDS HERE */
/* ASIDE BAR STARTS HERE */
aside {
  position: fixed;
  z-index: 10;
  height: 100%;
  margin-left: 8rem;
  width: 23rem;
  border: var(--border1);
  background-color: var(--white);
  transition: all 0.1s linear;
  overflow-y: scroll;
}
aside:hover aside::-webkit-scrollbar {
  visibility: visible;
}
aside::-webkit-scrollbar {
  width: 1rem;
  border-radius: 1rem;
  visibility: hidden;
}
aside::-webkit-scrollbar-track {
  background-color: var(--white);
}
aside::-webkit-scrollbar-thumb {
  background-color: #dbdbdb;
  border-radius: 1rem;
}
.left-slide-bar {
  padding: 1.5rem 1.5rem 3.3rem 1.5rem;
}
aside .aside-heading {
  padding: 2rem 0 1.5rem 2rem;
  color: var(--lightmode-darktext);
  font-size: 1.7rem;
}
aside .aside-heading i {
  margin-right: 2rem;
  padding: 1rem;
  border-radius: 1rem;
  font-size: 1.8rem;
  color: var(--fix-darkblue);
  border: var(--border1);
  display: none;
}
.left-slide-bar ul li {
  color: var(--light-text);
  font-weight: 500;
  font-size: 1.3rem;
  padding: 1.1rem 0;
  transition: var(--transition02);
}
.left-slide-bar ul li i {
  float: right;
}
.left-slide-bar ul li:nth-child(1) span {
  color: var(--lightmode-lighttext);
  font-size: 1.35rem;
}
.left-slide-bar ul li:nth-child(2) span {
  color: var(--fix-darkblue);
  font-size: 1.35rem;
  border-bottom: var(--border1);
  padding-bottom: 1rem;
}
.accordion ul li {
  padding: 1.3rem 0 0 0;
  list-style-type: circle;
  margin: 0 0 0 1rem;
}
.accordion ul li:hover {
  margin-left: 2rem;
}
/* ASIDE BAR ENDS HERE */
/* HEADER STARTS HERE */
.move-header {
  margin-left: 8rem;
}
.move-aside {
  margin-left: -31rem;
}
.move-main {
  margin-left: 8rem;
}
header {
  position: sticky;
  top: 0;
  margin-left: 31rem;
  height: 6rem;
  transition: all 0.1s linear;
  border-bottom: var(--border1);
  padding: 0 2.5rem;
  background: rgba(234, 247, 253, 0.5);
  backdrop-filter: blur(18px);
  -webkit-backdrop-filter: blur(18px);
}
.toggle {
  margin-top: -0.7rem;
}
.toggle-menu {
  display: inline-block;
  cursor: pointer;
  margin-left: 1rem;
  padding: 0.4rem 0 0 0;
}
.toggle-menu i {
  font-size: 2.5rem;
  color: var(--fix-darkblue);
}
.menu ul li {
  color: var(--lightmode-lighttext);
  font-size: 2.1rem;
  padding: 0.5rem;
  transition: all 0.1s linear;
}
.menu ul li a {
  padding: 0.5rem;
  border-radius: 40%;
  color: var(--lightmode-darktext);
}
.menu ul li form input {
  height: 3.2rem;
  width: 24rem;
  border-radius: 3rem;
  font-size: 1.5rem;
  border: none;
  padding: 0 1.5rem;
  background-color: #E9EEF5;
  color: #1e293b;
}
.ping {
  position: relative;
  top: -2.8rem;
  right: -1.9rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1rem;
  width: 1rem;
  background-color: var(--white);
}
.ping span:nth-child(1) {
  display: inline-flex;
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.8;
  background-color: #f000b9;
  border-radius: 50%;
  animation: ping 1s cubic-bezier(0, 0, .2, 1) infinite;
}
.ping span:nth-child(2) {
  background-color: #f000b9;
  border-radius: 100px;
  width: 0.7rem;
  height: 0.7rem;
}
@keyframes ping {
  to {
    opacity: 0;
    transform: scale(2);
  }
}
.menu ul li:nth-child(4) {
  padding-top: 1.2rem;

}
.menu ul li:nth-child(5) {
  animation: spin 3s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.menu a svg {
  color: var(--lightmode-lighttext);
  height: 2.5rem;
  width: 2.5rem;
}
/* HEADER ENDS HERE */

/* RIGHT BAR STARTS HERE */
.right-bar {
  position: fixed;
  z-index: 200;
  right: 0;
  top: 0;
  width: 31rem;
  height: 100%;
  padding: 1.2rem 1.2rem;
  background-color: var(--white);
  transition: all 0.1s linear;
  border: var(--border1);
  margin-right: -31rem;
  overflow-y: scroll;
}
.right-bar:hover aside::-webkit-scrollbar {
  visibility: visible;
}
.right-bar::-webkit-scrollbar {
  width: 1rem;
  border-radius: 1rem;
  visibility: hidden;
}
.right-bar::-webkit-scrollbar-track {
  background-color: var(--white);
}
.right-bar::-webkit-scrollbar-thumb {
  background-color: rgb(205, 205, 205);
  border-radius: 1rem;
}
.rightbar-margin-r0 {
  margin-right: 0rem;
}
.right-bar .calender {
  padding: 0rem 1.2rem 1.2rem 1.2rem;
}
.right-bar .calender span {
  font-size: 1.3rem;
  padding-left: 0.5rem;
  color: var(--light-gray);
}
.right-bar .calender i {
  color: var(--light-gray);
  font-size: 1.5rem;
}
.right-bar .calender a i {
  color: var(--lightmode-darktext);
  font-size: 3rem;
}
.b-heading {
  padding: 0.75rem;
  letter-spacing: .025em;
}
.banking-cards {
  overflow-x: visible;
}
.bank-card {
  height: 11.2rem;
  width: 19.2rem;
  border: var(--border1);
  border-radius: 1.5rem;
  color: var(--white);
  padding: 1.2rem;
  overflow: hidden;
}
#bank-card1 {
  background-color: #a855f7;
}
#bank-card2 {
  background-color: #f43f5e;
}
#bank-card3 {
  background-color: #0ea5e9;
}
.bank-card #box1 {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(9px, -9px);
  background-color: hsla(0, 0%, 100%, .2);
  height: 6rem;
  width: 6rem;
  border-radius: 20% 80% 81% 19% / 47% 49% 51% 53%;
}
.bank-card #box2 {
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translate(12px, 12px) rotateZ(36deg);
  background-color: hsla(0, 0%, 100%, .2);
  height: 6rem;
  width: 6rem;
  border-radius: 17% 83% 22% 78% / 82% 17% 83% 18%;
}
.bank-card #box3 {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(17px, 28px) rotateZ(72deg);
  background-color: hsla(0, 0%, 100%, .2);
  height: 6rem;
  width: 6rem;
  border-radius: 0% 100% 43% 57% / 0% 54% 46% 100%;
}
.bank-card img {
  height: 1.2rem;
  width: 4rem;
}
.bank-card .price {
  font-size: 1.8rem;
  letter-spacing: 0.1rem;
  padding: 3rem 0 0 0;
}
.bank-card .num {
  padding-top: 0.7rem;
  font-size: 1.2rem;
}
.app-heading {
  padding: 1.2rem 0 0.75rem 0;
  letter-spacing: .025em;
}
.pinned-apps ul {
  column-count: 5;
}
.pinned-apps ul li a i {
  font-size: 2.5rem;
  padding: 1rem 1.3rem;
  border-radius: 1.5rem;
}
.pinned-apps ul li {
  text-align: center;
}
.pinned-apps ul li p {
  padding-top: 0.4rem;
  font-size: 1.3rem;
}
/* border-radius: 1.5rem; */
#app1 {
  color: white;
  background-color: var(--fix-green);
}
#app2 {
  color: white;
  background-color: var(--fix-orange);
}
#app3 {
  color: white;
  background-color: var(--fix-lightblue);
}
#app4 {
  color: white;
  background-color: var(--fix-red);
}
#app5 {
  color: white;
  background-color: #f000b9;
}
.working-hours {
  padding: 2rem 0;
}
.working-hours .col-50 {
  padding: 0 0.5rem 0 0;
}
.working-hours .hour {
  background-color: #e9eef5;
  padding: 1rem;
  border-radius: 0.5rem;
}
.working-hours .hour .data1 span {
  font-size: 1.8rem;
  color: var(--lightmode-lighttext);
}
.working-hours .hour .data1 small {
  font-size: 1.2rem;
  color: var(--lightmode-lighttext);
}
.working-hours .hour .data1 i {
  font-size: 1.5rem;
  color: #f000b9;
}
.working-hours .hour p {
  font-size: 1.1rem;
  color: var(--lightmode-darktext);
  padding: 1rem 0;
}
.working-hours .hour .data2 {
  font-size: 1.2rem;
  color: var(--lightmode-lighttext);
}
.progress-bar-wrap {
  height: 0.7rem;
  width: 100%;
}
.progress-bar {
  width: 70%;
  height: 0.7rem;
}
.progress-bar-wrap {
  height: 0.7rem;
  border-radius: 0.5rem;
  overflow: hidden;
  margin: 0.5rem 0 1rem 0;
}
#progress-bar1 {
  background-color: #f000b9;
}
#progress-bar-wrap1 {
  background-color: #f000b926;
}
#progress-bar2 {
  background-color: #10b981;
}
#progress-bar-wrap2 {
  background-color: #10b98126;
}
.stock-heading {
  color: var(--lightmode-darktext);
  margin: -0.8rem 0 1.2rem 0;
}
.stock-info {
  background-color: #e9eef5;
  padding: 1rem;
  border-radius: 0.5rem;
  margin-right: 0.5rem;
  font-weight: 500;
}
.stock-info .stock-logo img {
  height: 4rem;
  width: 4rem;
}
.stock-info .stock-logo p {
  padding-left: 0.7rem;
  font-size: 1.4rem;
  font-weight: 500;
  color: var(--lightmode-darktext);
}
.stock-info .stock-logo p span {
  font-size: 1.2rem;
  line-height: 1.4rem;
  color: var(--lighmode-lighttext);
}
.stock-market .stock-chart {
  height: 10rem;
  border: var(--border1);
}
.stock-market .status {
  padding: 1rem 0 0.5rem 0;
}
.stock-market .status span:nth-child(1) {
  font-size: 1.4rem;
  color: var(--lightmode-darktext);
}
.stock-market .status span:nth-child(2) {
  font-size: 1.2rem;
  color: var(--fix-red);
}
.heading {
  font-size: 1.4rem;
  color: var(--lightmode-darktext);
  padding: 1rem 0;
}
.latest-news .news img {
  height: 8rem;
  width: 8rem;
  border-radius: 1rem;
}
.latest-news .news {
  background-color: var(--fix-bgblue);
  border-bottom: 1rem solid white;
  padding: 1rem;
  border-radius: 1rem;
}
.latest-news .info {
  width: 100%;
  padding-right: 0.5rem;
}
.latest-news .info span:nth-child(1) {
  font-size: 1.4rem;
  line-height: 1.7rem;
  color: var(--lightmode-lighttext);
  font-weight: 600;
}
.latest-news .name img {
  width: 2.8rem;
  height: 2.8rem;
}
.latest-news .name span {
  font-size: 1.3rem;
  font-weight: 500;
  word-spacing: 0rem;
  letter-spacing: 0rem;
  padding-left: 0.5rem;
  color: var(--lightmode-darktext);
}
.latest-news .like i {
  color: var(--lightmode-darktext);
  font-size: 1.6rem;
  padding: 0 0.5rem;
}
label {
  margin: 0.5rem 0;
}
.toggle-switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 25px;
  cursor: pointer;
}
.toggle-switch input[type="checkbox"] {
  display: none;
}
.toggle-switch-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ddd;
  border-radius: 10px;
  box-shadow: inset 0 0 0 2px #ccc;
  transition: background-color 0.3s ease-in-out;
}
.toggle-switch-handle {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 15px;
  height: 15px;
  background-color: #fff;
  border-radius: 30%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease-in-out;
}
.toggle-switch::before {
  content: "";
  position: absolute;
  top: -25px;
  right: -35px;
  font-size: 12px;
  font-weight: bold;
  color: #aaa;
  text-shadow: 1px 1px #fff;
  transition: color 0.3s ease-in-out;
}
.toggle-switch input[type="checkbox"]:checked + .toggle-switch-handle {
  transform: translateX(45px);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2), 0 0 0 3px #05c46b;
}
.toggle-switch input[type="checkbox"]:checked + .toggle-switch-background {
  background-color: #05c46b;
  box-shadow: inset 0 0 0 2px #04b360;
}
.toggle-switch input[type="checkbox"]:checked + .toggle-switch:before {
  content: "On";
  color: #05c46b;
  right: -15px;
}
.toggle-switch input[type="checkbox"]:checked + .toggle-switch-background .toggle-switch-handle {
  transform: translateX(24px);
}
.switch span {
  font-size: 1.4rem;
  font-weight: 500;
  color: var(--lightmode-darktext);
  padding-left: 1rem;
}
.plan {
  padding: 1rem 1.5rem;
  border-radius: 0.5rem;
  background-color: #e9eef5;
  margin: 0.5rem 0;
}
.plan p {
  font-size: 1.4rem;
  color: var(--lightmode-darktext);
}
.plan p span {
  font-size: 1.4rem;
  color: var(--lighmode-ultralighttext);
}
.plan span {
  font-size: 1.3rem;
  font-weight: 600;
  color: var(--fix-darkblue);
}
#progress-bar-wrap3 {
  margin: 1rem 0;
  background-color: #ace0f7;
}
#progress-bar3 {
  background-color: var(--fix-lightblue);
}
.rightbar-navigation {
  margin: 1rem auto;
  border: var(--border1);
  padding: 0.6rem 1.5rem;
  border-radius: 6rem;
}
.rightbar-navigation i {
  color: var(--lightmode-darktext);
  font-size: 1.6rem;
  margin: 0 0.5rem;
  padding: 1rem;
  border-radius: 50%;
  transition: var(--transition03);
}
.rightbar-navigation i:hover {
  color: var(--fix-darkblue);
  background-color: #f2f2f7;
}
/* RIGHT BAR ENDS HERE */
/* MAIN STARTS HERE */
main {
  margin-left: 31rem;
  padding: 2rem;
  background-color: var(--fix-bgblue);
}
main section {
  padding: 2.4rem;
}
.box {
  box-shadow: 0 0 #0000, 0 0 #0000, 0 0 #0000, 0 0 #0000, 0 3px 10px 0 rgb(48 46 56/6%);
  border-radius: 0.5rem;
  background-color: var(--white);
  padding: 1.5rem;
}
.p0 {
  padding: 0;
}
.order-section .box1 {
  /* height: 43.8rem; */
}
.order-section .row .col-8 {
  padding-left: 0;
}
.order-section .row .col-4 .row .col-12 {
  padding-right: 0;
}
.order-section .row .col-4 .row .col-6 {
  padding-right: 0;
}
.overview .ov1 p {
  font-size: 1.5rem;
  color: var(--lightmode-darktext);
  font-weight: 500;
  display: inline-block;
}
.overview .ov1 img {
  display: inline-block;
  height: 1.2rem;
  margin-bottom: -0.2rem;
  margin-left: 0.5rem;
}
.overview .ov2 button {
  font-size: 1.2rem;
  color: var(--lightmode-darktext);
  background-color: var(--white);
  cursor: pointer;
  border: none;
  font-weight: 500;
  padding: 0.8rem 2rem;
}
.overview .ov2 button:nth-child(2) {
  color: var(--fix-darkblue);
  background-color: #4f46e51A;
  border-radius: 2rem;
}
.overview-card .card {
  padding: 1.6rem;
  background-color: var(--fix-bgblue);
  border-radius: 1rem;
}
.overview-card .card .title {
  font-size: 2rem;
  color: var(--lightmode-darktext);
  font-weight: 600;
  padding-bottom: 0.5rem;
}
.overview-card .card .title i {
  font-size: 2rem;
  color: var(--fix-darkblue);
}
.overview-card .card .sub-title {
  font-size: 1.3rem;
  color: var(--lightmode-darktext);
  font-weight: 500;
  margin-top: 0.4rem;
}
.overview-card {
  padding: 1rem 0;
}
.bar-chart {
  border: var(--border1);
  height: 27rem;
}
.order-section .box2 {
  /* height: 19.6rem; */
}
.box2 p {
  font-size: 1.4rem;
  color: var(--lightmode-darktext);
  padding-bottom: 2rem;
}
.brdr {
  border: var(--border1);
}
.budget-info {
  font-weight: 600;
}
.budget-info p {
  font-size: 2.4rem;
  color: var(--lightmode-darktext);
  padding-bottom: 0.5rem;
}
.budget-info a {
  font-size: 1rem;
  color: var(--fix-darkblue);
  border-bottom: 1px dotted var(--fix-darkblue);
}
.budget-info p:nth-child(3) {
  font-size: 1.1rem;
  line-height: 1.5rem;
  color: var(--lightmode-darktext);
  padding-top: 1.5rem;
}
.order-section .box3 {
  margin-top: 2.4rem;
}
.box3 p {
  font-size: 1.4rem;
  color: var(--lightmode-darktext);
  font-weight: 500;
}
.box3 h3 {
  font-size: 2rem;
  font-weight: 700;
  color: var(--lightmode-darktext);
  padding: 1.1rem 0;
}
.income-chart {
  height: 15rem;
  border: var(--border1);
}
.order-section .box4 {
  margin-top: 2.4rem;
}
.box4 p {
  font-size: 1.4rem;
  color: var(--lightmode-darktext);
  font-weight: 500;
}
.box4 h3 {
  font-size: 2rem;
  font-weight: 700;
  color: var(--lightmode-darktext);
  padding: 1.1rem 0;
}
.expense-chart {
  height: 15rem;
  border: var(--border1);
}
.seller-section .row .col-6 {
  padding-left: 0;
}
.seller-section .row .col-3:nth-child(3) {
  padding-right: 0;
}
.seller-section .box5 {
  height: 45.36rem;
}
.seller-section .box6 {
  height: 45.36rem;
}
.box6 h2 {
  font-weight: 600;
  font-size: 1.4rem;
  color: var(--lightmode-darktext);
  padding: 1.2rem 0;
}
.box6 span {
  font-size: 2.4rem;
  color: var(--lightmode-darktext);
  font-weight: 500;
}
.box6 small {
  font-size: 1.2rem;
  color: var(--fix-green);
  padding-left: 0.5rem;
}
.box6 p {
  font-size: 1.3rem;
  color: var(--lightmode-darktext);
  padding-top: 0.5rem;
}
.updown {
  padding-top: 1rem;
}
.updown .data {
  padding-top: 1.55rem;
}
.seller-section .data .left i {
  font-size: 1.4rem;
  background-color: #f00073;
  color: #fff;
  padding: 0.5rem;
  border-radius: 50%;
}
.seller-section .data .left p {
  color: var(--lightmode-lighttext);
  font-size: 1.4rem;
  padding-left: 0.8rem;
}
.seller-section .data .right i {
  font-size: 1.2rem;
  padding-left: 0.8rem;
}
.green {
  color: var(--fix-green);
}
.red {
  color: var(--fix-red);
}
.seller-section .data .right p {
  color: var(--lightmode-darktext);
  font-size: 1.5rem;
}
.seller-section .box7 {
  height: 45.36rem;
}
.box7 h2 {
  font-weight: 600;
  font-size: 1.4rem;
  color: var(--lightmode-darktext);
  padding: 1.2rem 0;
}
.box7 span {
  font-size: 2.4rem;
  color: var(--lightmode-darktext);
  font-weight: 500;
}
.box7 p {
  font-size: 1.3rem;
  color: var(--lightmode-darktext);
  padding-top: 0.5rem;
}
.box7 .updown .left img {
  height: 2.4rem;
  width: 2.4rem;
  border-radius: 50%;
}
.table-section .box {
  padding: 0;
}
.table-box {
  overflow-x: auto;
  min-width: 100%;
}
.orders-tbl {
  width: 100%;
  text-align: left;
  font-weight: 500;
  border-collapse: collapse;
}
th, td {
  border: none;
}
.orders-tbl thead th {
  color: var(--lightmode-darktext);
  background-color: #e2e8f0;
  padding: 1.4rem 2.0rem;
  font-size: 1.4rem;
}
.orders-tbl tbody td {
  padding: 1.2rem 2.0rem;
  border-bottom: var(--border1);
}
.orders-tbl img {
  height: 3.6rem;
  width: 3.6rem;
  border-radius: 1rem;
}
.orders-tbl thead th:nth-child(1) {
  min-width: 11.3rem;
}
.orders-tbl thead th:nth-child(2) {
  min-width: 14.5rem;
}
.orders-tbl thead th:nth-child(3) {
  min-width: 26.1rem;
}
.orders-tbl thead th:nth-child(4) {
  min-width: 27.1rem;
}
.orders-tbl thead th:nth-child(5) {
  min-width: 16.7rem;
}
.orders-tbl thead th:nth-child(6) {
  min-width: 16.9rem;
}
.orders-tbl thead th:nth-child(7) {
  min-width: 10.7rem;
}
.orders-tbl thead th:nth-child(8) {
  min-width: 8.4rem;
}
.orders-tbl tbody td:nth-child(1) {
  color: var(--fix-darkblue);
  font-size: 1.4rem;
}
.orders-tbl tbody td:nth-child(2) p:nth-child(1) {
  color: var(--lightmode-lighttext);
  font-size: 1.4rem;
}
.orders-tbl tbody td:nth-child(2) p:nth-child(2) {
  color: var(--lightmode-lighttext);
  font-size: 1.2rem;
  padding-top: 0.3rem;
}
.orders-tbl tbody td:nth-child(3) span {
  padding-left: 16px;
  color: var(--lightmode-lighttext);
  font-size: 1.4rem;
}
.orders-tbl tbody td:nth-child(4) p {
  color: var(--lightmode-lighttext);
  font-size: 1.3rem;
}
.orders-tbl tbody td:nth-child(5) p {
  font-size: 1.2rem;
}
.orders-tbl tbody td:nth-child(6) p {
  font-size: 1.3rem;
}
.orders-tbl tbody td:nth-child(6) p i {
  font-size: 0.9rem;
  padding-right: 0.8rem;
}
.orders-tbl tbody td:nth-child(7) p {
  color: var(--lightmode-lighttext);
  font-size: 1.5rem;
  color: var(--lightmode-darktext);
}
.orders-tbl tbody td:nth-child(8) {
  color: var(--lightmode-lighttext);
  font-size: 2.7rem;
  color: var(--lightmode-darktext);
}
.warning1 {
  text-align: center;
  color: var(--fix-orange);
  background-color: #ff98001A;
  padding: 0.6rem 0;
  border-radius: 0.2rem;
}
.warning2 {
  color: var(--fix-orange);
}
.success1 {
  text-align: center;
  color: var(--fix-green);
  background-color: #10b9811a;
  padding: 0.6rem 0;
  border-radius: 0.2rem;
}
.success2 {
  color: var(--fix-green);
}
.info1 {
  text-align: center;
  color: var(--fix-lightblue);
  background-color: #0ea5e91a;
  padding: 0.6rem 0;
  border-radius: 0.2rem;
}
.info2 {
  color: var(--fix-lightblue);
}
.primary1 {
  text-align: center;
  color: var(--fix-darkblue);
  background-color: #4f46e51A;
  padding: 0.6rem 0;
  border-radius: 0.2rem;
}
.primary2 {
  color: var(--fix-darkblue);
}
.error1 {
  text-align: center;
  color: #ff5724;
  background-color: #ff57241A;
  padding: 0.6rem 0;
  border-radius: 0.2rem;
}
.error2 {
  color: var(--fix-darkblue);
}
/* MAIN ENDS HERE */