@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
/* ROOT */
:root {
  --white: white;
  --dark-gray: #334155;
  --light-gray: #64748b;
  --dark-text: #1E293B;
  --light-text: #475569;
  --gray: #94A3B8;
  --dark-blue: #4f46e5;
  --glass-blue: #4F46E51A;
  --bg-blue: #F1F5F9;
  --light-blue: #0ea5e9;
  --green: #10b981;
  --red: #ff5724;
  --orange: #ff9800;
  --transition02: all 0.2s linear;
  --transition03: all 0.3s linear;
  --transition05: all 0.5s linear;
  --border1: 1px solid #e5e7eb;
  --gutter-width: 12px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Inter", sans-serif;
}
.container {
  max-width: 1320px;
  margin: 0 auto;
}
html {
  font-size: 10px;
  scroll-behavior: smooth;
}
section {
  padding: 60px 0;
}
.btn {
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  font-size: 18px;
  padding: 13px 40px;
}
.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
  padding: 0 var(--gutter-width);
}
/* LEFT BAR STARTS HERE */
.left-bar {
  position: fixed;
  left: 0;
  width: 8rem;
  height: 100vh;
  border-right: var(--border1);
  background-color: var(--white);
  transition: var(--transition02);
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: var(--dark-text) var(--white);
}
.left-bar::-webkit-scrollbar {
  display: none;
}
.main-logo {
  margin-bottom: 2rem;
}
.main-logo img {
  height: 4.5rem;
  width: 4.5rem;
  transition: var(--transition03);
  margin-top: 1.5rem;
  cursor: pointer;
}
.main-logo img:hover {
  transform: rotate(360deg);
}
.left-bar ul li svg {
  margin: auto;
  display: block;
  height: 3.2rem;
  width: 3.2rem;
  color: var(--light-gray);
  cursor: pointer;
  transition: var(--transition03);
}
.left-bar ul li {
  margin: 1.5rem 0;
  padding: 0.7rem 0.3rem;
  border-radius: 1rem;
  transition: var(--transition02);
}
.left-bar ul li:hover {
  background-color: #4F46E51A;
}
.left-bar ul li:hover svg {
  color: var(--dark-blue);
}
.rounded-full {
  border-radius: 50%;
  width: 4.5rem;
  margin: 1rem 0;
  cursor: pointer;
}
.profile-avatar .dot {
  font-size: 0.9rem;
  position: absolute;
  top: 0.2rem;
  right: 0rem;
  color: var(--green);
  border-radius: 50%;
  border: 0.15rem solid white;
}
.profile-setting {
  left: 7rem;
  position: fixed;
  bottom: 1rem;
  width: 26rem;
  border: var(--border1);
  background-color: var(--white);
  border-radius: 1rem;
  display: none;
}
.profile-setting .title {
  padding: 1.2rem 2rem;
  border-radius: 1rem;
  background-color: var(--bg-blue);
  margin-bottom: 1rem;
  cursor: pointer;
}
.profile-setting .title img {
  width: 5.6rem;
  border-radius: 50%;
  margin-right: 2rem;
}
.profile-setting .title span {
  font-size: 1.7rem;
  color: var(--dark-gray);
}
.profile-setting .title span p {
  font-size: 1.2rem;
  color: var(--light-gray);
  padding-top: 0.3rem;
}
.profile-setting .desc {
  display: flex;
  align-items: center;
  padding: 0.9rem 1.5rem;
  cursor: pointer;
}
.profile-setting .desc:hover {
  background-color: var(--bg-blue);
}
.profile-setting .desc i {
  padding: 1rem;
  border-radius: 0.8rem;
  font-size: 1.6rem;
  color: var(--white);
  background-color: var(--orange);
  margin-right: 1.8rem;
  margin-left: 1rem;
}
.profile-setting .desc span {
  font-size: 1.4rem;
  color: var(--dark-gray);
}
.profile-setting .desc span p {
  font-size: 1.3rem;
  padding-top: 0.3rem;
  color: var(--gray);
}
.profile-setting .login-btn {
  padding: 1.2rem 0;
}
.login-button {
  width: 90%;
  margin: 0 auto;
  padding: 10px;
  text-align: center;
  background-color: var(--dark-blue);
  color: var(--white);
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}
.login-button i {
  padding-right: 1rem;
}
.desc:nth-child(3) > i {
  background-color: var(--light-blue);
}
.desc:nth-child(4) > i {
  background-color: #F000B9;
}
.desc:nth-child(5) > i {
  background-color: #FF5724;
}
.desc:nth-child(6) > i {
  background-color: var(--green);
}
/* LEFT BAR ENDS HERE */
/* ASIDE BAR STARTS HERE */
aside {
  position: fixed;
  z-index: -100;
  height: 100vh;
  margin-left: 8rem;
  width: 23rem;
  border: var(--border1);
  background-color: var(--white);
  transition: var(--transition03);
}
.left-slide-bar {
  height: 100vh;
  padding: 1.5rem 1.5rem 3.3rem 1.5rem;
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: var(--dark-text) var(--white);
}
.left-slide-bar::-webkit-scrollbar {
  display: none;
}
.aside-title {
  padding: 2rem 0px 2rem 1.5rem;
}
.aside-title p {
  color: var(--dark-text);
  font-size: 1.7rem;
}
.left-slide-bar ul li {
  color: var(--light-text);
  font-weight: 500;
  font-size: 1.3rem;
  padding: 1.1rem 0;
  transition: var(--transition02);
}
.left-slide-bar ul li i {
  float: right;
}
.left-slide-bar ul li:nth-child(1) span {
  color: var(--light-text);
  font-size: 1.35rem;
}
.left-slide-bar ul li:nth-child(2) span {
  color: var(--dark-blue);
  font-size: 1.35rem;
  border-bottom: var(--border1);
  padding-bottom: 1rem;
}
.accordion ul li {
  padding: 1.3rem 0 0 0;
  list-style-type: circle;
  margin: 0 0 0 1rem;
}
.accordion ul li:hover {
  margin-left: 2rem;
}
/* ASIDE BAR ENDS HERE */
/* HEADER STARTS HERE */
.move-header {
  margin-left: 8rem;
}
.move-aside {
  margin-left: -31rem;
}
header {
  position: sticky;
  top: 0;
  margin-left: 31rem;
  height: 5rem;
  background-color: var(--bg-blue);
  transition: var(--transition03);
  padding: 0 2.5rem;
}
.toggle {
  margin-top: -0.7rem;
}
.toggle-menu {
  display: inline-block;
  cursor: pointer;
  margin-left: 1rem;
  padding: 0.4rem 0 0 0;
}
.menu-icon {
  width: 15px;
  height: 10px;
  position: relative;
}
.menu-icon span {
  display: inline-block;
  height: 2px;
  width: 100%;
  background-color: var(--dark-blue);
  transition: transform 0.3s ease;
}
.menu-icon span:first-child {
  top: 0;
}
.menu-icon span:nth-child(2) {
  top: 50%;
  transform: translateY(-50%);
}
.menu-icon span:last-child {
  bottom: 0;
}
.menu-icon.active span:first-child {
  transform: rotate(135deg) translate(2px, -8.5px)
}
.menu-icon.active span:nth-child(2) {
  opacity: 0;
}
.menu-icon.active span:last-child {
  transform: rotate(225deg) translate(2px, 7.5px);
}
.menu a svg {
  color: var(--light-gray);
  background-color: var(--);
  height: 2.5rem;
  width: 2.5rem;
}
/* HEADER ENDS HERE */