@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
/* ROOT */
:root {
  --transition02: all 0.2s linear;
  --transition03: all 0.3s linear;
  --transition05: all 0.5s linear;
  --gutter-width: 12px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Inter", sans-serif;
}
.container {
  max-width: 1320px;
  margin: 0 auto;
}
html {
  font-size: 10px;
  scroll-behavior: smooth;
}
section {
  padding: 60px 0;
}
.btn {
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  font-size: 18px;
  padding: 13px 40px;
}
.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
  padding: 0 var(--gutter-width);
}
